/***********REGISTRATION FORM***********/

.register-form .form-group {
  margin-bottom: 2vh;
  margin-left: 10%;
}

.register-form {
  text-align: center;
  margin: 6% auto 3vh;
}

.register-form .btn.btn-primary {
  background: #141e30 none repeat scroll 0 0;
  border-color: #141e30;
  color: #ffffff;
  font-size: 1vw;
  width: 10vw;
  height: 6vh;
  padding: 0;
  border-radius: 0.5vw;
}

.register-form .btn.btn-primary.reset {
  background: #141e30 none repeat scroll 0 0;
}

.back {
  text-align: left;
  margin-top: 1vh;
}

.back a {
  color: #444444;
  font-size: 1vw;
  text-decoration: none;
}